niffler-gateway/src/main/schemas/xjc/userdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="niffler-userdata"
                  targetNamespace="niffler-userdata">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="niffler-userdata">

            <!-- REQUEST TYPES -->
            <xs:element name="updateUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="currentUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="allUsersRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element minOccurs="0" name="searchQuery" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="allUsersPageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="pageInfo" type="tns:pageInfo"/>
                        <xs:element minOccurs="0" name="searchQuery" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="friendsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element minOccurs="0" name="searchQuery" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="friendsPageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="pageInfo" type="tns:pageInfo"/>
                        <xs:element minOccurs="0" name="searchQuery" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="removeFriendRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="friendToBeRemoved" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="sendInvitationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="friendToBeRequested" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="acceptInvitationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="friendToBeAdded" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="declineInvitationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="invitationToBeDeclined" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- RESPONSE TYPES -->

            <xs:element name="UserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user">
                        </xs:element>
                        <xs:element minOccurs="0" name="totalElements" type="xs:long"/>
                        <xs:element minOccurs="0" name="totalPages" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- CUSTOM TYPES -->

            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="username" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="surname" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="fullname" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="photo" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="photoSmall" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="friendState" type="tns:friendState"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="pageInfo">
                <xs:sequence>
                    <xs:element name="page" type="xs:int"/>
                    <xs:element name="size" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sort" type="tns:sort"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="RUB"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="USD"/>
                    <xs:enumeration value="KZT"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="friendState">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="INVITE_SENT"/>
                    <xs:enumeration value="INVITE_RECEIVED"/>
                    <xs:enumeration value="FRIEND"/>
                    <xs:enumeration value="VOID"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:complexType name="sort">
                <xs:sequence>
                    <xs:element minOccurs="1" name="property" type="xs:string"/>
                    <xs:element minOccurs="1" name="direction" type="tns:direction"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="direction">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ASC"/>
                    <xs:enumeration value="DESC"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateUserRequest">
        <wsdl:part element="tns:updateUserRequest" name="updateUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="acceptInvitationRequest">
        <wsdl:part element="tns:acceptInvitationRequest" name="acceptInvitationRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="allUsersRequest">
        <wsdl:part element="tns:allUsersRequest" name="allUsersRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="friendsRequest">
        <wsdl:part element="tns:friendsRequest" name="friendsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="declineInvitationRequest">
        <wsdl:part element="tns:declineInvitationRequest" name="declineInvitationRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="friendsPageRequest">
        <wsdl:part element="tns:friendsPageRequest" name="friendsPageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendInvitationRequest">
        <wsdl:part element="tns:sendInvitationRequest" name="sendInvitationRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UserResponse">
        <wsdl:part element="tns:UserResponse" name="UserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeFriendRequest">
        <wsdl:part element="tns:removeFriendRequest" name="removeFriendRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="allUsersPageRequest">
        <wsdl:part element="tns:allUsersPageRequest" name="allUsersPageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UsersResponse">
        <wsdl:part element="tns:UsersResponse" name="UsersResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="currentUserRequest">
        <wsdl:part element="tns:currentUserRequest" name="currentUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NifflerUserdataPort">
        <wsdl:operation name="updateUser">
            <wsdl:input message="tns:updateUserRequest" name="updateUserRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="acceptInvitation">
            <wsdl:input message="tns:acceptInvitationRequest" name="acceptInvitationRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="allUsers">
            <wsdl:input message="tns:allUsersRequest" name="allUsersRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="friends">
            <wsdl:input message="tns:friendsRequest" name="friendsRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="declineInvitation">
            <wsdl:input message="tns:declineInvitationRequest" name="declineInvitationRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="friendsPage">
            <wsdl:input message="tns:friendsPageRequest" name="friendsPageRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="sendInvitation">
            <wsdl:input message="tns:sendInvitationRequest" name="sendInvitationRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="User">
            <wsdl:output message="tns:UserResponse" name="UserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeFriend">
            <wsdl:input message="tns:removeFriendRequest" name="removeFriendRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="allUsersPage">
            <wsdl:input message="tns:allUsersPageRequest" name="allUsersPageRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Users">
            <wsdl:output message="tns:UsersResponse" name="UsersResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currentUser">
            <wsdl:input message="tns:currentUserRequest" name="currentUserRequest">
            </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NifflerUserdataPortSoap11" type="tns:NifflerUserdataPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="acceptInvitation">
            <soap:operation soapAction=""/>
            <wsdl:input name="acceptInvitationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="allUsers">
            <soap:operation soapAction=""/>
            <wsdl:input name="allUsersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="friends">
            <soap:operation soapAction=""/>
            <wsdl:input name="friendsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="declineInvitation">
            <soap:operation soapAction=""/>
            <wsdl:input name="declineInvitationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="friendsPage">
            <soap:operation soapAction=""/>
            <wsdl:input name="friendsPageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="sendInvitation">
            <soap:operation soapAction=""/>
            <wsdl:input name="sendInvitationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="User">
            <soap:operation soapAction=""/>
            <wsdl:output name="UserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeFriend">
            <soap:operation soapAction=""/>
            <wsdl:input name="removeFriendRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="allUsersPage">
            <soap:operation soapAction=""/>
            <wsdl:input name="allUsersPageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Users">
            <soap:operation soapAction=""/>
            <wsdl:output name="UsersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currentUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="currentUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NifflerUserdataPortService">
        <wsdl:port binding="tns:NifflerUserdataPortSoap11" name="NifflerUserdataPortSoap11">
            <soap:address location="http://127.0.0.1:8089/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>